<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scavenger Hunt</title>

<link rel="stylesheet" type="text/css" href="static/css/mycss.css">
    <script type="application/javascript" src="static/javascript/myjs.js"></script>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Find the hidden clues</h1>
      </header>
      
        <h3>What</h3>
        <p>I used these to make this site: <br/>
          HTML <br/>
          CSS <br/>
          JS (JavaScript)
        </p>
      <center><img src="static/hunt.webp" alt="hunt" width="800" height="600"></center>


    <!-- Here's the first part of the flag: thiran{H   -->
      </div>

    </div>

  </body>
</html>